@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow1 #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color base-opacity rgba(30, 30, 46, 0.8);

/* Endfield */

@define-color gray #7E807C;
@define-color olive  #657136;
@define-color yellow  #F8F546;
@define-color silver  #A0AAA9;
@define-color charcoal  #313739;
@define-color darker  #1E2224;

/* Global styles */
* {
  font-weight: bold;
  
}

window#waybar {
  background-color: @charcoal;
  color: @silver;
  border: 3px solid @yellow;
  border-radius: 5px;
  font-family: "JetBrainsMono Nerd Font";
  min-height: 16px;
  font-size: 16px;

}

/* Загальні стилі для елементів */
#custom-icon,
#workspaces,
#temperature,
#cpu,
#memory,
#battery,
#backlight,
#wireplumber,
#custom-notification,
#language,
#clock,
#bluetooth,
#network,
#custom-power,
#tray {
  margin: 7px 4px;
  padding: 0px 10px;
}

/* Custom icon (left)*/
#custom-icon {
  color: @yellow; 
  font-size: 24px;
  margin-left: 14px;
}

/* Workspaces */
#workspaces {
   
    background-color: @surface0;
    border-radius: 12px;
}

#workspaces button {
  color: @overlay0;
  margin: 0px 2px;
  padding: 0px 4px;
  border-radius: 0px;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  color: @rosewater;
  border-bottom: 2px solid @surface2;
}

#temperature {
  color: @sapphire;

}

#cpu {
  color: @silver;
}

#memory {
  color: @peach;
}

#language {
  color: #ffffff;
}

/* Bluetooth Config */
#bluetooth{
  color: @blue;
}

#bluetooth.connected{
  color: @sky;
}

#bluetooth.off{
  color: @red;
}

#bluetooth.discovering,
#bluetooth.discoverable{
  color: @yellow1;
}


#network {
  color: @blue;
  font-size: 16px;
}

#network.wifi {
  color: @sky;
  font-size: 16px;
}

#network.ethernet {
  color: @blue;
  font-size: 16px;

}

#network.disconnected {
  color: @maroon;
  font-size: 16px;

}

#network.disabled {
  color: @surface0;
  font-size: 16px;
}

/* Power */
#custom-power {
  color: @red;
  margin-right: 14px;
  font-size: 16px;
}

/* Volume */
#wireplumber{
  margin-right: 35px;
  min-width: 65px; 
}

/* Clock & Window */
#clock {
  color: @silver;
  background-color: @surface0;
  padding: 0px 10px;
  border-radius: 12px;
  margin-right: 18px;
}

#clock:hover {
  background-color: @surface1;
}

/* Backlight */
#backlight {
  margin-right: 35px;
}

#custom-notification {

}

/* Hover-ефекти */
#custom-icon:hover,
#temperature:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#backlight:hover,
#wireplumber:hover,
#custom-notification:hover,
#language:hover,
#bluetooth:hover,
#network:hover,
#custom-power:hover,
#tray:hover {
  background: @surface0;
  border-radius: 12px;
}

tooltip {
  background-color: @base-opacity;
  /* Catppuccin Mocha: base */
  color: @text;
  /* Catppuccin Mocha: text */
  border: 2px solid @lavender;
  font-size: 13px;
  padding: 10px;
  border-radius: 0px;
}
